.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px 0 100px;
    position: relative;
    @media only screen and (max-width:$breakpoint-mobile-max) {
        flex-direction: column;
    }
    .about-bg{
        flex-basis: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        height: 730px;
        width: 100%;
        background-color: $robin;
        z-index: 1;
    }
    .aboutR,.aboutL {
     z-index: 10;
    }
    .aboutL {
        flex-basis: 50%;
        h3 {
            margin-top:0;
            text-align: left;
        }
        p {
           max-width: 80%;
           text-align: left;
        }
        ul {
            list-style: none;
            padding-inline-start: 0;
            li {
                display: flex;
                align-items:center;
                color: $primary;
                font-family: $font-primary;
                font-size: 22px;
                line-height: 1.13;
                font-weight: 400;
                padding: 0 0 30px 0;
                &:before {
                    content:'';
                    background-image:url('./images/compass.png');
                    background-size: contain;
                    height: 35px;
                    width: 35px;
                    display: inline-block;
                    margin-right: $margin;
                    
                }
            }
        }
        a {
            @include button($button-color:$primary,$button-text-color:$primary, $button-font-size:22px, $width:240px);
        }
    }
    .aboutR {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        img {
            max-width: 100%;
            height: auto;
            width: 95%;
            object-fit: contain;
        }
       
        p {
            display: flex;
            justify-content: center;
        }
        .caption {
            font-family: $font-title;
            color: $mustard;
            font-size:24px;
            margin-bottom: 0;
        }
        .captionDate {
            color: $primary;
            font-family: $font-primary;
            font-size: 15px;
            font-weight: 400;
            margin-top: 0;
        }
    }
}