.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px 0 100px;
    position: relative;
    min-height: 800px;
    @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 30px 0 30px;
        width: calc(100% - 60px);
        text-align: center;
    }
    .about-bg{
        position: absolute;
        top: 20px;
        left: 0;
        height: 80%;
        width: 100%;
        background-color: $robin;
        z-index: 1;
        @include mobile {
            width: 100%!important;
            height: 60%;
        }
    }
    .about-img {
        @include mobile {
            // transform: translate(5%, 5%)!important;  
        }
    }
    .aboutR,.aboutL {
     z-index: 10;
    }
    .aboutL {
        width: 50%;
        @include mobile {
            width: 100%;
            margin-bottom: 100px;
        }
        h3 {
            margin-top:0;
            text-align: left;
            @include mobile {
                text-align: center;
            }
        }
        p {
           max-width: 80%;
           text-align: left;
           @include mobile {
               padding-bottom: 30px;
               text-align: center;
               max-width: 100%;
           }
        }
        ul {
            list-style: none;
            padding-inline-start: 0;
            li {
                display: flex;
                align-items:center;
                color: $primary;
                font-family: $font-primary;
                font-size: 22px;
                line-height: 1.13;
                font-weight: 400;
                padding: 0 0 30px 0;
                text-align: left!important;
                @include mobile {
                    font-size: 20px;
                }
                &:before {
                    content:'';
                    background-image:url('./images/compass.svg');
                    background-size: contain;
                    height: 35px;
                    width: 35px;
                    display: inline-block;
                    margin-right: $margin;
                    
                }
            }
        }
        a {
            @include button($button-color:$primary,$button-text-color:$primary, $button-font-size:22px, $width:240px);
        }
    }
    .aboutR {
       width: 50%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        @include mobile {
            width: 100%;
        }
        // img {
        //     max-width: 100%;
        //     height: auto;
        //     width: 95%;
        //     object-fit: contain;
        // }
       
        p {
            display: flex;
            justify-content: center;
        }
        .caption {
            font-family: $font-title;
            color: $mustard;
            font-size:24px;
            margin-bottom: 0;
        }
        .captionDate {
            color: $primary;
            font-family: $font-primary;
            font-size: 15px;
            font-weight: 400;
            margin-top: 0;
        }
    }
}

