$transition-linear:.2s linear;
//COLORS
$primary:#0C2666;
$sky:#647A91;
$cloud:#C0C9D2;
$mustard:#D3B400;
$eggshell:#CBD1DD;
$robin:#D5F1ED;
$forest:#232D1F;
$camel:#dcd9c6;
$cloudy:#b7cec5;
$sage:#B0B08A;


//FONT IMPORTS & STYLES
@import url("https://use.typekit.net/zre1kdu.css");
$font-primary:baskerville-urw, serif; //400,500,700
$font-italic: nunito, sans-serif; //300, 400
$font-body: nunito, sans-serif; //300, 400
$font-title: professor, sans-serif; //400
//BREAKPOINTS
$breakpoint-mobile-max:767px;
$breakpoint-inter-min:768px;
$breakpoint-inter-max:999px;

$margin:20px;
$padding:20px;
$max-content:1515px;

@mixin mobile {
    @media only screen and (max-width:$breakpoint-mobile-max){
        @content;
    }
}
@mixin tablet {
    @media only screen and (min-width:$breakpoint-inter-min) and (max-width:$breakpoint-inter-max){
        @content;
    }
}

@mixin font-title($font-title-size:72px, $font-title-color:#fff) {
    font-family: $font-title;
    font-weight: 400;
    font-style: normal;
    color: $font-title-color;
    font-size: $font-title-size;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    @include mobile {
        font-size: 40px;
    }
}
@mixin h2 ($font-h2-size:40px, $font-h2-color:#fff) {
    font-family: $font-primary;
    font-weight: 400;
    font-style: normal;
    color: $font-h2-color;
    font-size: $font-h2-size;
    @include mobile {
        font-size: 30px;
    }
}
@mixin h3 ($font-h3-size:44px, $font-h3-color:$primary) {
    font-family: $font-primary;
    font-weight: 400;
    font-style: normal;
    color: $font-h3-color;
    font-size: $font-h3-size;
    @include mobile {
        font-size: 28px;
    }
}

@mixin nav-font($nav-font-color:#fff, $nav-font-size:20px) {
    font-family: $font-primary;
    font-weight: 500;
    font-style: normal;
    color: $nav-font-color;
    font-size: $nav-font-size;
    position: relative;
        &:after {
            content:'';
            width: 0;
            height: 2px;
            background-color: $nav-font-color;
            transition: width $transition-linear;
            display: block;
            position: absolute;
            bottom: 0;
        }
        &:hover {
            cursor: pointer;
            &:after {
                width: 100%;
            }
        }
}

@mixin button($button-color:#fff, $button-text-color:#fff, $button-fill:$mustard, $button-font-size:20px, $padding:15px, $width:140px){
    border: 1px solid $button-color;
    font-family: $font-primary;
    font-size: $button-font-size;
    font-weight: 600;
    color: $button-text-color;
    padding: $padding;
    text-decoration: none;
    position: relative;
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $width;
    @include mobile {
        font-size: 14px;
    }
    &:hover:after {
        display: none;
    }
    &:before {
        content:'';
        background-color: $button-fill;
        width:0;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform-origin: left;
        transition: width $transition-linear;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
}
.button {
    @include button;
}


html {
    scroll-behavior: smooth;
}

//Typography 
h1,h2,h3,h4,h6 {
    font-family: $font-primary;
    font-weight: 400;
    color: $primary;
    margin-top: 0;
}
h2 {
    @include h2;
}
h3 {
    @include h3;
}
p {
    font-family: $font-body;
    font-weight: 400;
    line-height: 1.44;
    font-size: 18px;
    color: $primary;
    @include mobile {
        font-size: 12px;
    }
}
ul {
    list-style: none;
}
