.footerContainer {
    background-color:$forest;
    height: 100%;
    width: 100%;
    .footerBottom {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        padding-bottom: 150px;
        padding-top: 100px;
        @include mobile {
            padding-bottom: 50px;
            padding-top: 50px;
        }
        // padding: 50px 45px;
        .footerR, .footerL {
            width: 50%;
            @include mobile {
                width: calc(100% - 50px);
                align-items: center;
                justify-content: center;
                text-align: left;
                padding: 25px;
            }
        }
        .footerL {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: #fff;
            .footer-text {
                h4 {
                    font-family: $font-primary;
                    font-size: 30px;
                    font-weight: 400;
                    color: #fff;
                    line-height: 1.2;
                }
                p {
                    color: #fff;
                    max-width: 500px;
                    @include mobile {
                        max-width: 80%;
                    }
                }
            }
        }
        .footerR {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @include mobile {
                justify-content: flex-start;
                align-items: flex-start;
            }
            a {
                color: #fff;
                font-family: $font-primary;
                font-style: italic;
                font-size: 22px;
                margin: 0;
                font-weight: 400;
                text-decoration: none;
                position: relative;
                &:after {
                    content:'';
                    width: 0;
                    height: 2px;
                    background-color: #fff;
                    transition: width $transition-linear;
                    display: block;
                    position: absolute;
                    bottom: 0;
                }
                &:hover {
                    cursor: pointer;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    
    }
    .cpyr {
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}

.eapps-instagram-feed-title {
    display: none!important;
}
.eapps-instagram-feed {
    a[href*="elfsight"] {
        display: none!important;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            background-color:$forest;
            display: block; 
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

