body {
  margin: 0;
}
$page-padding:100px;

.container {
  width: 100% !important;
  max-width: 100% !important;
}
.pack-page {
  width: 100%;
  // height: 1000px;
  // padding:$page-padding 0 0 0;
  background-color: inherit;
}
.page0 {
  // margin: 0 auto;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.page1, .page2 {
  background-color: #fff;
  height: 100%;
  padding: $page-padding 0 0 0;
  overflow: hidden;
  @include mobile {
  padding: 50px 0;
  }
}
.page2 {
  padding-bottom: $page-padding;
}
.page3 {
    padding: 100px 0 100px 0;
    @include mobile {
      padding: 100px 0;
    }
}




